*{
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto
}
#header {
    padding: 1.2rem;
    background-color: white;
    border-bottom: solid 1px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header a{
    color: blue;
    font-size: 1.2em;
}
#wrapper{
    margin: 30vh auto;
}
#field{
    margin: 0 auto;
    width: 30vw;
    max-width: 80%;
    background-color: black;
    padding: 2%;
    color: white;
    font-weight: bold;
}
button{
    margin: 10px;
    border-radius: .2rem;
    background: white;
    box-shadow: 0 0 3px 2px gray;
}

button:hover{
    color: white;
    background-color: black;
    transition: all .5s;
    box-shadow: 0 0 5px 2px green;
}
button:active{
    box-shadow: 0 0 3px 2px red;
    background-color: red;
    transition: none;
}
span{
    font-size: 1.3em;
}