body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

#fieldGame {
    box-sizing: border-box;
    table-layout: fixed;
    border: #15628b double 9px;
}

#fieldGame > div {
    display: flex;
}

#fieldGame > div > span {
    width: 20px;
    height: 20px;
    border: 0.1pt solid #eff;
}

#sounds {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-radius: 20%;
    padding-left: 7px;
}

#sounds.active {
    background-color: limegreen;
    color: white;
    box-shadow: 0 0 5px palegreen;
}

.counter {
    color: cornflowerblue;
    font-size: 1.1em;
}

.counter > span {
    color: #8ccb2c;
    font-size: 30px;
}

.snakeHead {
    background: radial-gradient(white 20%, red);
}

.snakeBody {
    background: linear-gradient(#05ba05, #4b885d, #2785c9, #b6f4aa);
    border-radius: 50%;
}

.food {
    background: repeating-linear-gradient(200deg, #d943f4 50%, #05ffbd);
    border: solid 0;
    border-radius: 50% 50% 0 0;
}

.field {
    position: absolute;
    height: 100%;
    width: 100%;
    color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-shadow: #026269 -2px -3px 5px;
    font-size: 4.1em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.19)
}


.button {
    margin-top: 10%;
    font-size: 18px;
    background: #007288;
    color: white;
    padding: 10px 20px;
    border-radius: 9px;
    box-shadow: white 0 0 10px,
    white 1px 1px 19px;
}